html{
	font-family: 	"Lucida Console", Monaco, monospace;
}
svg {
  font: 10px sans-serif;
  	background: #000

}
.line {
  fill: none;
  stroke: #f0f8ff;
  stroke-width: 10px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

/*#Readings
{
	max-height: 100px;
	    overflow: scroll;

}*/